#express server configPORT=4000
PORT=5000

NODE_ENV=
JWT_SECRET=
JWT_EXPIRE=

# mongodb atlas
MONGO_URL=

# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/team/keys

PLAID_ENV=
PLAID_CLIENT_ID=
PLAID_SECRET=

PLAID_PRODUCTS=auth,liabilities,transactions

PLAID_COUNTRY_CODES=US,CA

PLAID_REDIRECT_URI=